<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div>
            <h2>Login</h2>
            <form action="/login" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" required autocomplete="off"/>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required autocomplete="off"/>
                <button type="submit">Login</button>
            </form>
            <a href="/signup">Registrar</a>
        </div>
        
        <script src=""></script>
    </body>
</html>